@import '../../assets/styles/reference.scss';


.education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: $backgroundColor1;

    @media (min-width: 992px){ 
        border-radius: 10px;
        align-self: center;
    }
    ul {
        @media (min-width: 992px){ 
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            width: auto;
            border-top: 1px solid $color8;
            padding: 0px 30px;
        }
        li{
            margin: 15px 0px;       
            list-style: none;   

            span.line {
                position: relative;
                margin: 30px auto;
                width: 80%;

                @media(min-width: 992px){ 
                    display: none;
                }
                hr {  
                    background: $color3;
                    border: 0;
                    height: 1px;
                    width: 100%;
                        
                        &:before{
                        content: "";
                        width: 6px;
                        height: 6px;
                        background: $color3;
                        display: inline-block;
                        border: 2px solid $color3;
                        position: absolute;
                        top: -5px;
                        left: 50%;
                        margin: 0 0 0 -3px;
                        transform:rotate(45deg);
                        -ms-transform:rotate(45deg); 
                        -webkit-transform:rotate(45deg);
                        }
                    }
                }
            p.marker{
                display: none;
            }
            @media (min-width: 992px){                 
                margin-top: 0px;
                margin-bottom: 50px;
                margin-right: 30px;
                margin-left: 30px;
                span{  
                    display: block;                  
                    background-color: $color7;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px 5px $backgrounColor2_element;
                }
                p.marker{
                    display: block;
                    background-color: $color6;
                    border-radius: 40%;
                    border: 2px solid white;
                    position: relative;
                    top: -10px;
                    height: 20px;
                    width: 20px;

                }
                
            }         
        }
        h4,h5{
            font-size: 15px;
            font-weight: 300;
            @media (min-width: 992px){
                font-size: 17px;
                margin: 0px;
            }
        }
        h5 {
            margin-bottom: 10px;
        }
        p{  
            width: fit-content;
            border-bottom: 1px dashed $color4;
        }
    }
    h1{ 
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: fit-content;
        text-align: center;
        span{
            margin: 10px;
        }
    }
}