//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #c9186a ;
$color3_op: #c9186bbb ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;
$gradient: linear-gradient(360deg, $color3 0%, $color6 25%, $color5 50%, $color4 100%);


$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;
$fontColor_3: #d65b95 ;

$backgroundColor1: #1c181c;
$backgrounColor2_element: #110e11;
$backgroundColor2: linear-gradient(#110e11 0%, #0b070b 100%);

$borderColor1: #2b262b;



.courses {
    padding: 10px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $backgrounColor2_element;

    img.certificate{
        width:100%;
        height: auto;
    }
    @media (min-width: 992px){ 
        margin: 100px;
        padding: 40px;
        padding-left: 50px;
        border-radius: 10px;
        background-color: $backgroundColor1;
        border: 2px solid $borderColor1;
        max-width: 1200px;
        align-self: center;
        
        .content{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            h3{
                font-size: 14px;                
                color: $fontColor_3;
            }
            p{
                font-size: 14px;                
            }
        
            .modal{
                padding: 15px;
                padding-left: 30px;
                margin: 15px;  
                height: fit-content;
                width: 70%;                
                background: linear-gradient(135deg, $color4 0%,#753a88 15%, #cc2b5e 50%, #753a88 85%, $color4 100%);
                opacity: 0.7;
                box-shadow: 0 0 10px 5px rgb(0, 0, 0);
                font-size: 15px;

                img.certificate{
                    height: 400px;
                    width: 600px;
                }  
            }   
                
        }
    }
    ul {

        li{ 
            border: 1px dashed $color7;
            border-radius: 20px;
            box-shadow: 0px 2px 10px 4px $color6;
            padding: 10px;
            margin: 15px;         
            list-style: none; 
            
            @media (min-width: 992px){ 
                border: 2px solid $color6;
                box-shadow: 0px 0px 13px 5px $backgrounColor2_element;
            }   
                          
        }
        @media (min-width: 992px){ 
            width: 30%;
        }
    }
    h1{ 
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: fit-content;
        text-align: center;
        span{
            margin: 10px;
        }
        margin-bottom: 40px;
    }
    
}