@import '../../assets/styles/reference.scss';

.projects {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px dashed $color3;
    border-bottom: 1px dashed $color3;
    background-color: $backgroundColor1;

    @media (min-width: 992px){ 
        margin: 100px;
        padding: 40px;
        padding-left: 50px;
        border: 2px solid $borderColor1;
        border-radius: 10px;      
        width: 1150px;
        align-self: center;        
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (min-width: 992px){
            display: grid;
            grid-template-columns: 33% 33% 33%;
            margin: 0 auto;
        }
        li{ 
            border: 1px solid $color6;
            border-radius: 20px;
            box-shadow: inset 0px 0px 20px -5px $color6;
            padding: 15px;
            margin: 15px;         
            list-style: none;

            button.buttonProject{
                display: none;
            }
            
            img.projectImg, img.mobileImg {
                width: 100%;
                height: auto;
            }

            @media (min-width: 992px){
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                border: 2px solid $color6;
                box-shadow: 0px 0px 13px 5px $backgrounColor2_element;
                width: 270px;
                min-height: 300px;
                padding: 10px;

                .mobileImg {
                    display: none;
                }

                button.buttonProject {
                    display: block;
                    background-color: transparent;
                    border: none;

                    
                    img.projectImg{                       
                        transition: all 200ms ease-out;
                        width: 250px;
                        height: 150px;
                        cursor: url('../../assets/img/cursor_zoom.svg'), auto;
                        
                        &:hover {
                            transform: rotate(5deg);
                        }
                    }
                }                
            }
            p{
                padding: 5px 0px;
            }
            p.languages{
                display: flex;                
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
            }
            h2 {
                font-size: 18px;
                font-weight: 600;
            }
            .links {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 10px;
                
                &:has(a.demo){
                    justify-content: space-around;
                }
                a.repository, a.demo{
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    text-decoration: none;
                    color: $fontColor_2;
                    padding: 5px;
                    background-color: $borderColor1;
                    border-radius: 5px;

                    img {
                        width: auto;
                        height: 25px;
                        padding-right: 5px;
                    }

                    &:hover{
                        background-color: $color4;
                    }
                }
                a.none {
                    display: none;
                }
            }
            
        }
    }
    span.icon {
        width: auto;
        font-size: 14px;
        background-color: $color6;
        padding: 0px 5px;
        border-radius: 5px;
    }
    h1{ 
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: fit-content;
        text-align: center;
        span{
            margin: 10px;
        }
        margin-bottom: 40px;
    }
}



//Configuração do modal
.modal {
    position: fixed;
    z-index: 1300;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);

    .modal__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img.zoom { 
            transition-duration: .5s;
            transform: scale(.6);
            border: 2px solid $fontColor_3;
            cursor: url('../../assets/img/cursor_zoom_out.svg'), auto;
        }
    }
}

