//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #c9186a ;
$color3_op: #c9186bbb ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;

$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;
$fontColor_3: #d65b95 ;

$backgroundColor1: #1c181c;
$backgrounColor2_element: #110e11;
$backgroundColor2: linear-gradient(#110e11 0%, #0b070b 100%);

$borderColor1: #2b262b;

.projects {
    padding: 10px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $backgrounColor2_element;

    @media (min-width: 992px){ 
        margin: 100px;
        padding: 40px;
        padding-left: 50px;
        background-color: $backgroundColor1;
        border: 2px solid $borderColor1;
        border-radius: 10px;      
        max-width: 1200px;
        align-self: center;        
    }

    ul {
        @media (min-width: 992px){
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
        }
        li{ 
            border: 1px dashed $color7;
            border-radius: 20px;
            box-shadow: 0px 2px 10px 4px $color6;
            padding: 10px;
            margin: 15px;         
            list-style: none;

            @media (min-width: 992px){
                border: 2px solid $color6;
                box-shadow: 0px 0px 13px 5px $backgrounColor2_element;
                width: 250px;
                height: 300px;

                img.projectImg{
                    padding: 5px 0px;
                    width: 250px;
                    height: 150px;
                }
            }
            p.languages{
                display: flex;                
                align-items: center;

                @media (min-width: 992px){
                    flex-wrap: wrap;
                }
            }
        }
    }
    img.icon {
        width: 30px;
        height: 30px;
        margin: 5px;
    }
    h1{ 
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: fit-content;
        text-align: center;

        span{
            margin: 10px;
        }
        margin-bottom: 40px;
    }
}
