//Color Pallete
//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #c9186a ;
$color3_op: #c9186bbb ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;
$gradient: linear-gradient(360deg, $color3 0%, $color6 25%, $color5 50%, $color4 100%);


$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;
$fontColor_3: #d65b95 ;

$backgroundColor1: #1c181c;
$backgrounColor2_element: #110e11;
$backgroundColor2: linear-gradient(#110e11 0%, #0b070b 100%);

$borderColor1: #2b262b;

  
.nav{
    background-color: $backgrounColor2_element;
    ul {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;

        @media (min-width: 992px){
            flex-direction: row;
            justify-content: flex-end;
            padding-top: 0px;
        }

        li{
            list-style-type: none;
            padding: 5px;
            margin: 5px;
            width: 300px;
            border: 0.5px solid $color3;  
            border-bottom: 4px solid $color3;
            text-align: center;
            
            @media (min-width: 992px){
                border: 0px;
                border-left: 4px solid $color3;
                border-bottom-left-radius: 20px;
                padding: 10px;
                padding-right: 0px;
                width: auto;
            }
            a{ 
                display: block;         
                color: $fontColor_2;   
                width: 300px;  
                
                @media (min-width: 992px){
                    width: auto;
                }     
            }             
        }
        li:hover{
            border-top:transparent; 
            border-left: transparent;
            border-right: transparent; 
            background: linear-gradient(360deg, $color3 0%, $color6 25%, $color5 50%, $color4 100%); ;       
            cursor: pointer;
                        
            @media (min-width: 992px){
                background: linear-gradient(45deg, $color3 0%, $color6 25%, $color5 50%, $color4 100%);     
                padding-right: 20px;            
            }
        }
    }
    @media (min-width: 992px){
        padding: 10px;
        margin-right: 10px;  
        margin-bottom: 50px; 
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

