@import '../../assets/styles/reference.scss';

.nav{
    background-color: $backgrounColor2_element;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 992px){
        background-color: transparent;
        flex-direction: row;
        justify-content: space-between;
        font-size: 15px;
    }
    img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;

        @media (min-width: 992px){
            border-bottom-left-radius: 20px;
            flex-direction: row;
            justify-content: flex-end;
            justify-self: end;
            width: fit-content;
            background-color: $backgrounColor2_element;
            padding-top: 0px;
        }

        li{
            list-style-type: none;
            padding: 5px;
            margin: 5px;
            width: 300px;
            border: 0.5px solid $color3;  
            border-bottom: 4px solid $color3;
            text-align: center;
            
            
            @media (min-width: 992px){
                border: 0px;
                border-left: 4px solid $color3;
                border-bottom-left-radius: 20px;
                padding: 10px;
                padding-right: 0px;
                width: auto;
            }
            a{ 
                display: block;         
                color: $fontColor_2;   
                width: 300px;  
                
                @media (min-width: 992px){
                    width: auto;
                }     
            }             
        }
        li:hover{
            border-top:transparent; 
            border-left: transparent;
            border-right: transparent; 
            background: linear-gradient(360deg, $color3 0%, $color6 25%, $color5 50%, $color4 100%); ;       
            cursor: pointer;
                        
            @media (min-width: 992px){
                background: linear-gradient(45deg, $color3 0%, $color6 25%, $color5 50%, $color4 100%);     
                padding-right: 20px;            
            }
        }
    }
    @media (min-width: 992px){
        margin-right: 10px;  
        margin-bottom: 50px; 
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

