//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #f066a6 ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;


$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;

  
.nav{
    background-color: $color4;
    ul {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;

        @media (min-width: 992px){
            flex-direction: row;
            justify-content: flex-end;
        }

        li{
            list-style-type: none;
            padding: 5px;
            margin: 5px;
            width: 300px;
            border: 0.5px solid $color3;  
            border-bottom: 4px solid $color3;
            text-align: center;
            
            @media (min-width: 992px){
                border: 0px;
                border-left: 4px solid $color1;
                border-bottom-left-radius: 20px;
                padding: 10px;
                width: auto;
            }

            a{
                text-decoration: none;
                color: $fontColor_2;
                padding: 5px;           
            }    
                 
        }
        li:hover{
            background: linear-gradient(360deg, $color3 0%, $color6 25%, $color5 50%, $color4 100%); ;       
            cursor: pointer;
            border: 0px;
            
            @media (min-width: 992px){
                background: linear-gradient(45deg, $color3 0%, $color6 25%, $color5 50%, $color4 100%);                 
            }
        }
    }

}
