@import '../../assets/styles/reference.scss';

.about {
    background-color: $backgroundColor1;
    padding: 20px;
    margin: 50px auto;
    border-top: 1px dashed $color3;
    border-bottom: 1px dashed $color3;
        
    @media (min-width: 992px){ 
        margin: 100px;
        padding: 40px;
        padding-left: 50px;
        border-radius: 10px;
        border: 3px solid $borderColor1;
        width: 1150px;
        align-self: center;

        .content{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
    }
    .dev{
        font-weight: 300;
        font-size: 20px;
        color: $fontColor_3;

        @media(min-width: 992px){
            font-size: 25px;
            text-align: start;
        }
    }
    h3{
        font-weight: 200;
        color: $fontColor_3;
        opacity: 0.7;

        @media(min-width: 992px){
            font-size: 17px;
            padding-top: 5px;
            margin-top: 5px;
            text-align: start;
            width: 300px;
        }
    }
    img.profile{        
        height: 350px;
        width: 350px;
        margin-bottom: 20px;        
        padding-bottom: 10px;
        padding-right: 10px;

        @media(min-width: 992px){ 
            width: 350px;
            height: 350px;          
        }  
    }
    .row1{
        text-align: center;
        padding: 5px;
        margin: 10px;

        @media(min-width: 992px){ 
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            margin: 0;
        }
    }
    .row2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        margin: 10px;

        @media(min-width: 992px){ 
            align-items: flex-start;
        }

        span.line {
            position: relative;
            margin: 30px auto;
            width: 80%;
            @media(min-width: 992px){ 
                display: none;
            }
            hr {  
                background: $color3;
                border: 0;
                height: 1px;
                width: 100%;
                    
                    &:before{
                    content: "";
                    width: 6px;
                    height: 6px;
                    background: $color3;
                    display: inline-block;
                    border: 2px solid $color3;
                    position: absolute;
                    top: -5px;
                    left: 50%;
                    margin: 0 0 0 -3px;
                    transform:rotate(45deg);
                    -ms-transform:rotate(45deg); 
                    -webkit-transform:rotate(45deg);
                    }
                }
            }

        @media(min-width: 992px){ 
            justify-content: center;
            width: 60%;
            margin: 0;
            p{
                text-align: left;
                margin-top: 10px;
            }   
        }
        h2 {
            width: auto;
        }
        .buttonAll {
            background-color: transparent;
            border: none;
            font-family: 'Fira Code', monospace;
            font-size: 14px;
            color: $color3;
            cursor: pointer;

            &:hover {
                background-color: $color5;
                color: white;
            }
        }
    }
    h1{ 
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: fit-content;
        text-align: center;
        margin-bottom: 40px;
        span{
            margin: 10px;
        }     

        @media (min-width: 992px){  
            padding: 0px;
        }
    }
}

.none {
    display: none;
}