//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #f066a6 ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;


$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;



.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color4;
    padding: 10px 50px;
    margin-top: 50px;
    margin-bottom: 100px;

    img.profile{        
        height: 200px;
        width: 200px;
        border: 2px solid $color3;
        border-radius: 50%;
        //box-shadow: 10px 10px 0px 0px $color2;
    }
    .column{
        text-align: center;
        padding: 5px;
        margin: 10px;
    }
    h1{        
        margin: 10px 0px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $color3;
    }



}