//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #c9186a ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;


$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;

.contact {    
    padding: 10px 0px;    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        li{ 
            list-style: none;
            text-align: start;
            padding-right:10px;
            a{  
                display: block; 
                position: relative;     
                height: 30px;
                width: 30px; 
                color: $fontColor_2;
                text-decoration: none;  
                margin: 10px; 
                margin-left: 0px;           
                padding: 15px;    
                border: 3px solid #353434;        
                border-radius: 10px;   
                background-color: $color5;  
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;  
                
                .tooltiptext{
                    font-size: 10px;
                    visibility: hidden;
                    width: 120px;
                    background-color: rgb(53, 53, 53);
                    text-align: center;
                    border: 1px solid $color6;
                    border-radius: 6px;
                    padding: 5px;
                    position: absolute;
                    top: 110%;
                    left: -50%;
                    z-index: 1;
                }
            } 
            a.email{        
                background-image: url('../../assets/img/email.svg');
            } 
            a.github{        
                background-image: url('../../assets/img/github.svg');
            } 
            a.linkedin{        
                background-image: url('../../assets/img/linkedin.svg');
            }   
            a:hover{
                border: 3px solid $color7;
                .tooltiptext{
                    visibility: visible;
                }
            }        
        }
    }
}