@import '../../assets/styles/reference.scss';


.contact {    
    padding: 10px 0px;    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 10px;
        padding: 5px;
        @media (min-width: 992px){ 
            justify-content: flex-start;
            margin: 0px;
            padding: 0px;
        }
        li{ 
            list-style: none;
            text-align: center;
            @media (min-width: 992px){
                padding-right:10px;
                text-align: start;
            }
            a{  
                display: block; 
                position: relative;     
                height: 30px;
                width: 30px; 
                color: $fontColor_2;
                text-decoration: none;  
                margin: 10px;           
                padding: 15px;    
                border: 3px solid #353434;        
                border-radius: 10px;   
                background-color: $color5;  
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center; 
                @media (min-width: 992px){ 
                    margin-left: 0px; 
                }
                .tooltiptext{
                    font-size: 10px;
                    visibility: hidden;
                    width: 120px;
                    background-color: rgb(53, 53, 53);
                    text-align: center;
                    border: 1px solid $color6;
                    border-radius: 6px;
                    padding: 5px;
                    position: absolute;
                    top: 110%;
                    left: -50%;
                    z-index: 1;
                }
            } 
            a.email{        
                background-image: url('../../assets/img/email.svg');
            } 
            a.github{        
                background-image: url('../../assets/img/github.svg');
            } 
            a.linkedin{        
                background-image: url('../../assets/img/linkedin.svg');
            }   
            a:hover{
                border: 3px solid $color7;
                .tooltiptext{
                    visibility: visible;
                }
            }        
        }
    }
}