@import '../../assets/styles/reference.scss';

.area{
    width: 100%;
    margin: 10px auto;
    
    h2{
        font-weight: 400;
        font-size: 20px;
        padding-bottom: 20px;

        @media (min-width: 992px){ 
            text-align: left;
        }
    }
    .section {
        display: grid;
        gap: 10px;
        grid-template-columns: 50% 50%;
        justify-items: center;
        padding: 10px;

        @media (min-width: 992px){ 
            grid-template-columns: 20% 20% 20% 20% 20%;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 50px auto;
    background-color: var(--BackgroundStack);
    border-top: 1px dashed var(--DarkPink);
    border-bottom: 1px dashed var(--DarkPink);
    
    @media (min-width: 992px){ 
        margin: 100px;
        padding: 40px 50px;
        border: 2px solid var(--BorderColor);
        border-radius: 10px;
        width: 1150px;
        align-self: center;
    }

    h1{ 
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: fit-content;
        text-align: center;
        span{
            margin: 10px;
        }
        margin-bottom: 40px;
    }
}