//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #c9186a ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;


$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;
$fontColor_3: #6c528b;

.footer{
    background-color: $color6;
    text-align: end;
    line-height: 20px;
    font-size: 12px;
    padding: 5px 10px;
}