@import '../../assets/styles/reference.scss';


.experiences {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 30px;
    margin: 50px auto;
    background-color: $backgroundColor1;
    border-top: 1px dashed $color3;
    border-bottom: 1px dashed $color3;

    @media (min-width: 992px){ 
        margin: 100px;
        padding: 40px 50px;
        background-color: $backgroundColor1;
        border: 2px solid $borderColor1;
        border-radius: 10px;
        width: 1150px;
        align-self: center;
    }
    ul {
        margin-top: 20px;
        li{ 
            margin-top: 20px;        
            list-style: none;  
            width: 100%;             
            h4{
                border: 1px solid $color7;
                box-shadow: -10px 10px 0px 0px $color6;
                padding: 5px;
                margin-bottom: 20px;
                p{
                    font-size: 14px;
                    font-weight: 300;
                    text-align: left;
                }
            }
            .title {
                font-size: 17px;
                color: $fontColor_2;
                width: fit-content;
                border-bottom: 1px dashed $color7;
            }
            p{ 
                margin-top: 5px;
                margin-bottom: 5px;
                
            }  
            h5{
                font-size: 15px;
                color: $fontColor_3;

                @media (min-width: 992px){ 
                    font-size: 17px;
                }
            }
            
            img {
                width: 30px;
                height: 30px;
                margin: 5px;
                vertical-align: middle;
            }   
        }
    }
    h1{ 
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: fit-content;
        text-align: center;
        span{
            margin: 10px;
        }
    }
}
