//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #c9186a ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;


$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;
$fontColor_3: #6c528b;

.experiences {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    @media (min-width: 992px){ 
        margin: 100px;
        padding: 40px 50px;
        background:
        linear-gradient(to right, $color3 20px, transparent 5px) 0 0,
        linear-gradient(to right, $color3 20px, transparent 5px) 0 100%,
        linear-gradient(to left,  $color3 20px, transparent 5px) 100% 0,
        linear-gradient(to left,  $color3 20px, transparent 5px) 100% 100%,
        linear-gradient(to bottom, $color3 20px, transparent 5px) 0 0px,
        linear-gradient(to bottom, $color3 20px, transparent 5px) 100% 0,
        linear-gradient(to top,$color3 20px, transparent 5px) 0 100%,
        linear-gradient(to top, $color3 20px, transparent 5px) 100% 100%;
        background-repeat: no-repeat;
        background-size: 70px 70px;
        border-radius: 10px;
    }
    ul {
        margin-top: 20px;
        li{ 
            margin-top: 20px;        
            list-style: none;  
            width: 100%;             
            h4{
                border: 1px solid $color7;
                box-shadow: -10px 10px 0px 0px $color6;
                padding: 5px;
                margin-bottom: 20px;
                p{
                    font-size: 14px;
                    font-weight: 300;
                    text-align: left;
                }
            }
            .title {
                font-size: 17px;
                color: $fontColor_2;
                width: fit-content;
                border-bottom: 1px dashed $color7;
            }
            p{ 
                
                text-align: justify;
                margin-top: 5px;
                margin-bottom: 5px;
                
            }  
            h5{
                font-size: 15px;
                color: $fontColor_3;
            }
            
            img {
                width: 30px;
                height: 30px;
                margin: 5px;
                vertical-align: middle;
            }       
        }
    }
    h1{ 
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: fit-content;
        text-align: center;
        span{
            margin: 10px;
        }
    }
}
