@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&family=Open+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

//Color Pallete
$color1: #dd44c7 ;
$color2: #c757ca;
$color3: #c9186a ;
$color4: #030422;
$color5: #291b4d;
$color6: #321b4d;
$color7: #6c528b;
$color8: #9ba3f5;


$fontColor: #3b3b3b;
$fontColor_2: #eeebeb;

*{
    margin: 0;
    padding: 0;
}
.App{
    color: $fontColor_2;
    font-size: 15px;
    line-height: 25px;
    background-color: $color4;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    h1 {
        font-family: 'Playfair Display', serif;
    }
    @media (min-width: 992px){
        font-size: 17px;
    }
}