@import '../../assets/styles/reference.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&family=Open+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
.App{
    color: $fontColor_2;
    font-size: 15px;
    line-height: 25px;
    background: $backgroundColor2;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    h1 {
        font-family: 'Playfair Display', serif;
    }
    @media (min-width: 992px){
        font-size: 17px;
        display: flex;
        flex-direction: column;
    }
}